{
  "semi": false,
  "arrowParens": "avoid",
  "singleQuote": true,
  "pugAttributeSeparator": "none",
  "pugSingleFileComponentIndentation": true,
  "pugWrapAttributesThreshold": 1,
  "pugSingleQuote": false
}
